<div class="containertask">
    <img class="cenzorImage" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/83037124_2651062688512299_8798070455215849472_n.png?_nc_cat=105&_nc_ohc=4kxDY7UHGX4AX8dRe5k&_nc_ht=scontent-waw1-1.xx&oh=07b2219feb58f6a80590b4a60a58facb&oe=5ED2C685" alt="">
    <p class="tasksName">Angular list of prohibited words</p>
    <div>
        <a class="btn btn-success detailsButton" [routerLink]="[ '../work/cenzor']" role="button">Details</a>
    </div>
</div>
<div class="containertask">
    <img class="cenzorImage" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/82833416_3185658064993701_4258397698173960192_n.png?_nc_cat=110&_nc_ohc=0ZzEPr_xGAQAX_255we&_nc_ht=scontent-waw1-1.xx&oh=ad5eca81220ca9071ef48c3539be9e43&oe=5E8E23CA" alt="">
    <p class="tasksName">Angular task list</p>
    <div>
        <a class="btn btn-success detailsButton" [routerLink]="[ '../work/tasklist' ]" role="button">Details</a>
    </div>
</div>
<div class="containertask">
    <img class="cenzorImage" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/84059423_496293514604837_3601638048325959680_n.png?_nc_cat=103&_nc_ohc=5ikko2rAMoAAX-s258U&_nc_ht=scontent-waw1-1.xx&oh=a69c15e4b5c7d8ac5462c3d4ae022aa2&oe=5ECBE78E" alt="">
    <p class="tasksName">Angular users list</p>
    <div>
        <a class="btn btn-success detailsButton" [routerLink]="[ '../work/users' ]" role="button">Details</a>
    </div>
</div>